# This workflow runs performance benchmarks with Meshery based on the configuration provided
# This workflow needs to be triggered manually by providing the test configuration

name: Configurable Benchmark Test
on:
  # for triggering manually, provide a token
  workflow_dispatch:
    inputs:
      provider_token:
        description: "token for remote provider"
        required: false
      profile_name:
        description: "performance profile to use"
        required: false
      profile_filename:
        description: "test configuration file"
        required: false
      service_mesh:
        type: choice
        description: "service mesh being tested"
        options:
          - app-mesh
          - consul
          - istio
          - kuma
          - linkerd
          - osm
      load_generator:
        type: choice
        description: "load generator to run tests with"
        options:
          - fortio
          - wrk2
          - nighthawk

jobs:
  manual-test:
    name: Configurable Benchmark Test
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_dispatch' }}
    strategy:
      fail-fast: false
      matrix:
        service-mesh: ['istio', 'linkerd', 'osm']
        load-generator: ['fortio', 'wrk2']
    steps:
      - name: Setup Kubernetes
        uses: manusa/actions-setup-minikube@v2.4.1
        with:
          minikube version: 'v1.23.2'
          kubernetes version: 'v1.22.2'
          driver: docker

      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Install Service Mesh and Deploy Application
        run: |
          chmod +x .github/workflows/scripts/${{ matrix.service-mesh }}_deploy.sh
          .github/workflows/scripts/${{ matrix.service-mesh }}_deploy.sh
        shell: bash
        
      - name: Run Benchmark Tests
        uses: layer5io/meshery-smp-action@master
        with:
          provider_token: ${{ github.event.inputs.provider_token }}
          platform: docker
          profile_name: ${{ github.event.inputs.profile_name }}
          profile_filename: ${{ github.event.inputs.profile_filename }}
          endpoint_url: ${{env.ENDPOINT_URL}}
          service_mesh: ${{env.SERVICE_MESH}}
          load_generator: ${{ matrix.load-generator }}
          test_name: '${{ matrix.service-mesh }}-${{ matrix.load-generator }}-${{ github.event.inputs.profile_filename }}${{ github.event.inputs.profile_name }}'
